<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
	
<style>
@page {
      size: A4;
      margin: 10mm;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    table {
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 6px;
      text-align: left;
      font-size: 8px;
    }

    p {
      margin: 0;
      padding: 0;
	  font-size: 9px;
    }

    .flex-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .flex-item {
      margin: 0 10px;
    }
	
	.border-right{
		border-right: hidden;
	}
	.border-left{
		border-left: hidden;
	}
	.border-top{
		border-top: hidden;
	}	
	.border-bottom{
		border-bottom: hidden;
	}	


	</style>
</head>

<body>
<table width="90%">
  <tbody>
    <tr >
      <td height="10" colspan="6" style="text-align: right; border-bottom: hidden;"><h3>ANNEX 2 - TES CONTINUING Form 1</h3></td>
    </tr>
    <tr>
      <td colspan="6" class="text-center border-bottom border-top">
        <div class="flex-container">
          <div class="flex-item">
            <img src="../../public/unifast.png" alt="logo" style="width: 50px; height: 50px;">
          </div>
          <div class="flex-item" style="text-align: center;">
            <p >Republic of the Philippines</p>
            <p><strong>Name of Higher Education Institution</strong></p>
            <p>Address of Higher Education Institution</p>
            <p style="font-size: 17px; font-weight: bold;">CONSOLIDATED TES BILLING STATEMENT</p>
          </div>



          <div class="flex-item">
            <img src="../../public/chedlogo.png" alt="logo" style="width: 50px; height: 50px;">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: right;" class="border-right"><p>TES Billing Statement Reference No.:</p></td>
      <td style="text-align: left" class="border-bottom"><p>CARAGA-BGFC-2024-1-1</p></td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: right" class="border-top border-right"><p>Date:</p></td>
      <td><p>June 10, 2024</p></td>
    </tr>
    <tr>
      <td><p>To</p></td>
      <td colspan="5"><p>CHED - Regional Office CARAGA</p></td>
    </tr>
	  
	      <tr>
	        <td><p>Address</p></td>
      <td colspan="5"><p>CSU Main, Ampayon, Butuan City</p></td>
    </tr>
	  
	      <tr>
	        <td rowspan="11" style="vertical-align: top"><p>Responsibility Center</p>
            <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>	          <p>&nbsp;</p>            <p>&nbsp;</p></td>
	        <td colspan="3"><p>CHED - Regional Office CARAGA<br>
            </p></td>
	        <td><p>Account Code</p></td>
	        <td><p>Amouunt</p></td>
    </tr>
	      <tr>
	        <td height="40" colspan="3" style="vertical-align: top"><p style="font-size: 10px;">Request for payment of the Tertiary Education Subsidy (TES) grant for (1st semester), Academic Year 2023-2024 to be charged against the funds for Universal Access to Quality Tertiary Education (UAQTE) under General Appropriation Act (GAA) for Fiscal Year 2023-2024, 2070500.00 as per attached supporting documents ……..</p></td>
	        <td><p>&nbsp;</p></td>
	        <td><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="3" class="border-bottom"><p>Total Number of TES student-grantee in the Higher Education Institution (HEI) : 205</p></td>
	        <td><p>&nbsp;</p></td>
	        <td><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td width="30" ><p>&nbsp;</p></td>
	        <td colspan="2" class="border-left"><p><strong>TES Benefits-</strong> for all the TES Continuing grantees enrolled in the HEI</td>
	        <td><p>PhP</p></td>
	        <td><p>&nbsp; </p></td>
    </tr>

    <tr>
        <td class="border-top"><p>&nbsp;</p></td>
        <td colspan="2" class="border-left border-top"><p><strong>TES-3a </strong>for all TES Continuing grantees with disability enrolled in the HEI</p></td>
        <td><p>PhP</p></td>
        <td><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="3" class="border-top border-bottom"><p>Total Amount</p></td>
	        <td><p>PhP</p></td>
	        <td><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td class="border-bottom"><p>&nbsp;</p></td>
	        <td colspan="2" class="border-left border-bottom"><p>Add: 1 percent (1%) Administrative Support Cost (ASC) for partner HEI</p></td>
	        <td><p>PhP</p></td>
	        <td><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="3"><p>TOTAL: TES Billing Amount</p></td>
      <td width="93"><p>PhP</p></td>
      <td width="318"><p>&nbsp;</p></td>
    </tr>
	  
	  
	      <tr>
	        <td colspan="3" rowspan="3" style="vertical-align: top;"><p>Basis for the Tertiary Education Subsidy: Section 23, Rule IV, IRR of R.A. No. 10931 </p></td>
	        <td colspan="2"><p>Action to be taken (To be approved by CHEDRO)</p></td>
    </tr>
	      <tr>
	        <td height="30"><p>PhP</p></td>
	        <td style="vertical-align: top"><p>Excess (deficient) billing noted for further action</p></td>
    </tr>
	      <tr>
	        <td height="30"><p>PhP</p></td>
    <td height="30" style="vertical-align: top"><p>Approved for payment</p></td>
    </tr>
	      <tr>
	        <td colspan="3"><p>Certified</p></td>
	        <td colspan="3"><p>Approved</p></td>
    </tr>
	      <tr>
	        <td colspan="3" style="vertical-align: top"><p>Supporting Documents Complete and amount claimed proper. <br /> 9s this the last batch of Billing for this term of AY 2020-2021? <br /> YES NO</p></td>
	        <td colspan="3"><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="2" height="30"><p>Signature</p></td>
	        <td width="791"><p>&nbsp;</p></td>
	        <td width="180" height="30"><p>Signature</p></td>
	        <td colspan="2"><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="2"><p>Printed Name</p></td>
	        <td><p>&nbsp;</p></td>
	        <td><p>Printed Name</p></td>
	        <td colspan="2"><p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="2" rowspan="2"><p>Position</p></td>
	        <td><p>&nbsp;</p></td>
	        <td rowspan="2"><p>Position</p></td>
	        <td colspan="2"><p>&nbsp;</p>	          <p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td><p>&nbsp;</p></td>
	        <td colspan="2"><p>&nbsp;</p>	          <p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td colspan="2"><p>Date</p></td>
	        <td><p>&nbsp;</p></td>
	        <td><p>Date</p></td>
	        <td colspan="2"><p>&nbsp;</p>	          <p>&nbsp;</p></td>
    </tr>
	      <tr>
	        <td  colspan="3" style="vertical-align: top;"><p>INSTRUCTIONS: </p>
              <p>1. The HEIs are allowed a maximum of two (2) tranches of payments per semester. </p>
              <p>2. the TES statement reference number shall compromise of the Regional Code (2-digit). HEII CODE (alpha codes), ACADEMIC YEAR (4-digit), TERM 1(1-digit). and BATCH NUMBER (1 digit). The description and codes are provided below:            </p>
            <div style="clear: both;"></div>
            <p>&quot;HEI Code&quot; shall be the Acronym used by the HEI for its institution <br /> e.g. Jose Rizal University - JRU</p>
            <p>&quot;Academic Year&quot; the year when the AY began (e.g. 2020 for AY 2020-2021)</p></td>
	        <td colspan="3" style="vertical-align: top;"><p>&quot;Term refers to the academic year semester or terms:	          </p>
	          <table>
              <tbody>
                <tr>
                  <td><p>Term</p></td>
                  <td><p>Code</p></td>
                  <td><p>Term</p></td>
                  <td><p>Code</p></td>
                </tr>
                <tr>
                  <td><p>1st Semester</p></td>
                  <td><p>1</p></td>
                  <td><p>3rd Semester</p></td>
                  <td><p>3</p></td>
                </tr>
                <tr>
                  <td><p>2nd Semester</p></td>
                  <td><p>2</p></td>
                  <td><p>Summer</p></td>
                  <td><p>3</p></td>
                </tr>
              </tbody>
            </table>
              <p>&quot;Batch&quot; refers to the number of times HEI bills the CHED within a semester. <br /> 
              <strong>Note that the HEIs can only bill the CHED up to two(2) batches per semester</strong></p>
              <p>&nbsp;</p>
				<p><strong>Example of A Billing Statement No.</strong> <br /> The first batch of TES statement  submitted by JRU in 1st sem AQY 2020-2021: </p>
	          <p><br /> 
				The second batch of TES Statement submitted by Jose Rizal University in the First Semester for AY 2020 - 2021 NCR-JRU-2020-1-1</p>
				
				
              <p>3. Submit A printed copy of complete TES Statement Form (Form 1) including other required documents and a cover letter address to:</p>
              <p>&nbsp;</p>
              <p><strong>Dr. Nelia A. Alibin, PhD </strong><br /> 
              Regional Director <br /> Commission on Higher Education - Caraga Region</p>
              <p></p>
            <p>&nbsp;</p></td>
    </tr>
  </tbody>
</table>
</body>
</html>
